<ion-view view-title="Reports">
  
  <ion-content>
    
    <div class="card" ng-repeat="report in reports">

      <div class="list">
        
        <a href="#/app/report/1">
          <div class="item item-divider">
            {{ report.creator }} <i class="ion-ios-calendar"></i>{{ report.date }}

            {{ report.medicalOfficer }}
          </div>
        </a>

        <div class="item item-text-wrap">
        
          <ul class="list">
        
              <li class="item item-toggle">
                  Added by : {{ report.creator }}
              </li>
        
              <li class="item item-toggle">
                  Type : {{ report.type }}
              </li>

              <li>
                <button ng-click="createReport()" class="button button-full button-positive">View Report</button>
              </li>          
          </ul>
                  
        </div>
        
      </div>
  
      
    </div>
    
  </ion-content>
</ion-view>
