<ion-view view-title="Reports">
  <ion-content>
    
    <div class="list card" ng-repeat="report in reports">

      <div class="list">
        <a href="#">
          <div class="item item-divider">
            {{ report.creator }} <i class="ion-ios-calendar"></i>{{ report.date }}

            {{ report.medicalOfficer }}
          </div>

          <div class="item item-image">
            <img src="{{ report.url }}">
          </div>

        </a>
        
          <a class="item" href="#" ng-repeat="drug in prescription.drugs">
            {{ drug.name }} , {{ drug.dose }} , {{ drug.usage }}
          </a>
      </div>
    </div>
    
  </ion-content>
</ion-view>
